.navbar {
  background-color: black;
  height: 70px;
  display: flex;
  justify-content: space-between;
}
img {
  width: 50px;
  height: 50px;
}

.ul1 li {
  list-style-type: none;
  display: inline;
  padding-left: 35px;
  float: left;
  font-size: larger;
}
.ul2 li {
  list-style-type: none;
  display: inline;
  padding-right: 25px;
  float: left;
  font-size: larger;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration-color: skyblue;
}
.intro {
  text-align: center;
  background-color: rgb(41, 39, 39);
  height: 400px;
}
h1 {
  color: skyblue;
  font-size: 10vh;
  align-self: center;
}
.h3intro {
  color: white;
  font-size: x-large;
}
.b1 {
  background-color: skyblue;
  width: 100px;
  height: 50px;
}
.b1:hover {
  background-color: white;
}
.b2 {
  background-color: transparent;
  color: skyblue;
  width: 100px;
  height: 50px;
}
.aintro {
  color: white;
}
.container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 30px;
  padding: 15px 100px 0px 20px;
}
.item1 {
  height: 300px;
  font-size: large;
}
.item2 {
  height: 300px;
  font-size: large;
}
.item3 {
  height: 300px;
  font-size: large;
}
input {
  background-color: black;
  color: white;
}
.content {
  color: black;
}
h2 {
  color: gray;
}
p {
  font-style: italic;
}
.navbara {
  display: flex;
  justify-content: left;
}
.navbara h2 {
  color: skyblue;
}
a h2:visited {
  color: white;
}
